.chatWindow {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-left: 15px;
      margin-right: 15px;
    }

    &-name {
      font-size: 17px;
      color: #000;
    }
    &-buttons {
      display: flex;
      align-items: center;
      margin-right: 15px;
      &-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  &-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    background-color: #e5ddd5;

    &-image {
      background-repeat: repeat;
      background-position: center;
      background-image: url('../../img/background.png');
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.06;
    }
  }
}
